{% extends "base.html" %}
{%load static%}

    {%block page_title%}
        All challenges
    {%endblock%}

    {%block css_files%}
        <link rel="stylesheet" href="{%static "blog/post.css"%}"/>
        <link rel="stylesheet" href="{%static "blog/index.css"%}"/>
    {%endblock%}

    {%block content%}
        <section id="welcome">
            <header>
                <img src="" alt="LUCAS - the autor of this blog"/>
                <h2>blog lucas</h2>
            </header>
            <p>loredsok osdifmsomdf sodimfsomfs difsçlkdmflsd foisjdlfksdfmspdf</p>
        </section>

        <section id="latest-posts">
            <h2>my lastests thoughts</h2>

            <ul>
                {%for post in posts%}
                    {%include "blog/includes/post.html"%}
                {% endfor %}
            </ul>
        </section>

        <section id="about">
            <h2>what i do</h2>
            <p>sldjflksjd dskjflskcmn qiuhedpi nuhwdfpqk psljsmsnljofn owajdflskdfpon osidjflshpiad ciuankdiposakj pihndfinan</p>
            <p>klsljn sheduiwb 2 phiun qnopifnkj efihq9fpie 89fnpoqinfib9cn ichrfij rfpibn</p>
        </section>
    {%endblock%}
