{%extends "base.html"%}
{%load static%}



{%block page_title%}
Post title
{%endblock%}

{%block css_files%}
    <link rel="stylesheet" href="{%static "blog/post-datail.css"%}"/>
{%endblock%}

{%block content%}
    <section id="summary">
        <h2>post title</h2>
        <article>
            <img src="" alt="post title"/>
            <address>By lucas</address>
            <div>
                lat updated on <time>july 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>lore asjdoifplas çaksldjf quepn q9w8hefpqwo p9mclpkd fpodmcwp ecnjffpioqh9p qp9ueiownk apokdcclksiui iwquhoaipqá oijpjifaçaodqp akjnp fponapkld</p>
        <p>lore asjdoifplas çaksldjf quepn q9w8hefpqwo p9mclpkd fpodmcwp ecnjffpioqh9p qp9ueiownk apokdcclksiui iwquhoaipqá oijpjifaçaodqp akjnp fponapkld</p>
        <p>lore asjdoifplas çaksldjf quepn q9w8hefpqwo p9mclpkd fpodmcwp ecnjffpioqh9p qp9ueiownk apokdcclksiui iwquhoaipqá oijpjifaçaodqp akjnp fponapkld</p>
    </main>
{%endblock%}